In [1]:
# Standard import
import os

In [2]:
os.getcwd()

'C:\\Users\\PBANE\\OneDrive - Monsanto\\Migrated from My PC\\Documents\\DataScienceAnalytics\\Python\\Python_Projects\\ML_Kaggle\\House_Price'

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
rawData = pd.read_csv("train.csv")

In [6]:
housingData = rawData.copy()
housingData.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
housingData.iloc[:3, :5]

In [33]:
housingData.loc[:4, 'MSZoning':'LotArea']

  MSZoning  LotFrontage  LotArea
0       RL         65.0     8450
1       RL         80.0     9600
2       RL         68.0    11250
3       RL         60.0     9550
4       RL         84.0    14260

In [41]:
housingData.loc[:10,'Id':'LotArea']

    Id  MSSubClass MSZoning  LotFrontage  LotArea
0    1          60       RL         65.0     8450
1    2          20       RL         80.0     9600
2    3          60       RL         68.0    11250
3    4          70       RL         60.0     9550
4    5          60       RL         84.0    14260
5    6          50       RL         85.0    14115
6    7          20       RL         75.0    10084
7    8          60       RL          NaN    10382
8    9          50       RM         51.0     6120
9   10         190       RL         50.0     7420
10  11          20       RL         70.0    11200

In [52]:
housingData.loc[2:3, 'LotArea']

2    11250
3     9550
Name: LotArea, dtype: int64

In [56]:
housingData.loc[housingData.PoolArea != 0, ['LotArea', 'MSZoning']]

      LotArea MSZoning
197     25419       RL
810     10140       RL
1170     9880       RL
1182    15623       RL
1298    63887       RL
1386    16692       RL
1423    19690       RL

In [61]:
housingData[housingData['LotArea'] == 10140]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
542,543,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,213250
715,716,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,8,2009,WD,Normal,165000
810,811,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,648,Fa,GdPrv,NaN,0,1,2006,WD,Normal,181000
1204,1205,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2006,WD,Normal,153500
1293,1294,60,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,3,2006,WD,Normal,162900

In [65]:
housingData.loc[housingData.LotArea == 10140]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
542,543,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,213250
715,716,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,8,2009,WD,Normal,165000
810,811,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,648,Fa,GdPrv,NaN,0,1,2006,WD,Normal,181000
1204,1205,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2006,WD,Normal,153500
1293,1294,60,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,3,2006,WD,Normal,162900

In [74]:
housingData.loc[housingData['LotArea'] == 10140, ['MSSubClass', 'MSZoning', 'SalePrice']]

      MSSubClass MSZoning  SalePrice
542           20       RL     213250
715           20       RL     165000
810           20       RL     181000
1204          20       RL     153500
1293          60       RL     162900

In [79]:
housingData.loc[housingData['LotArea'] == 10140, ['MSSubClass', 'MSZoning', 'SalePrice']]

      MSSubClass MSZoning  SalePrice
542           20       RL     213250
715           20       RL     165000
810           20       RL     181000
1204          20       RL     153500
1293          60       RL     162900

In [80]:
def makeDataFrame(cols, ind):
    data = {c: [str(c) + str(i) for i in ind]
           for c in cols}
    return pd.DataFrame(data, ind)

In [81]:
makeDataFrame('ABC', range(3))

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [25]:
a = housingData.loc[housingData['Id'][:10], ['Id','LotArea', 'SalePrice']]

In [29]:
b = housingData.loc[housingData['Id'][:10], ['Street', 'MoSold', 'YrSold']]

In [37]:
pd.concat([a, b], axis= 1)

    Id  LotArea  SalePrice Street  MoSold  YrSold
1    2     9600     181500   Pave       5    2007
2    3    11250     223500   Pave       9    2008
3    4     9550     140000   Pave       2    2006
4    5    14260     250000   Pave      12    2008
5    6    14115     143000   Pave      10    2009
6    7    10084     307000   Pave       8    2007
7    8    10382     200000   Pave      11    2009
8    9     6120     129900   Pave       4    2008
9   10     7420     118000   Pave       1    2008
10  11    11200     129500   Pave       2    2008

In [45]:
pd.concat([a,b], join = 'outer')

C:\Users\PBANE\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      Id  LotArea  MoSold  SalePrice Street  YrSold
1    2.0   9600.0     NaN   181500.0    NaN     NaN
2    3.0  11250.0     NaN   223500.0    NaN     NaN
3    4.0   9550.0     NaN   140000.0    NaN     NaN
4    5.0  14260.0     NaN   250000.0    NaN     NaN
5    6.0  14115.0     NaN   143000.0    NaN     NaN
6    7.0  10084.0     NaN   307000.0    NaN     NaN
7    8.0  10382.0     NaN   200000.0    NaN     NaN
8    9.0   6120.0     NaN   129900.0    NaN     NaN
9   10.0   7420.0     NaN   118000.0    NaN     NaN
10  11.0  11200.0     NaN   129500.0    NaN     NaN
1    NaN      NaN     5.0        NaN   Pave  2007.0
2    NaN      NaN     9.0        NaN   Pave  2008.0
3    NaN      NaN     2.0        NaN   Pave  2006.0
4    NaN      NaN    12.0        NaN   Pave  2008.0
5    NaN      NaN    10.0        NaN   Pave  2009.0
6    NaN      NaN     8.0        NaN   Pave  2007.0
7    NaN      NaN    11.0        NaN   Pave  2009.0
8    NaN      NaN     4.0        NaN   Pave  2008.0
9    NaN      NaN     1.0        NaN   Pave  2008.0
10   NaN      NaN     2.0        NaN   Pave  2008.0